// pages/forum/forum.wxs
var fmt = {
  time: function(ts) {
    var diff = Date.now() / 1000 - ts
    if (diff < 3600)   return Math.floor(diff / 60) + '分钟前'
    if (diff < 86400)  return Math.floor(diff / 3600) + '小时前'
    if (diff < 604800) return Math.floor(diff / 86400) + '天前'
    var d = getDate(ts * 1000)
    return (d.getMonth() + 1) + '月' + d.getDate() + '日'
  }
}
module.exports = fmt
